@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* Blanco */
    --foreground: 222 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 4.9%;
    --primary: 215 76% 21%; /* #0D2C5B - Azul marino */
    --primary-foreground: 210 40% 98%;
    --secondary: 165 98% 39%; /* #01C998 - Verde turquesa */
    --secondary-foreground: 215 76% 21%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 49 86% 51%; /* #EECA19 - Amarillo dorado */
    --accent-foreground: 215 76% 21%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 76% 21%;
    --chart-1: 224 76% 51%;
    --chart-2: 170 76% 31%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 12 76% 61%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222 84% 6.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 215 76% 21%; /* #0D2C5B - Azul marino */
    --primary-foreground: 210 40% 98%;
    --secondary: 165 98% 39%; /* #01C998 - Verde turquesa */
    --secondary-foreground: 215 76% 21%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 49 86% 51%; /* #EECA19 - Amarillo dorado */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 210 40% 98%;
    --chart-1: 224 100% 68%;
    --chart-2: 170 100% 47%;
    --chart-3: 45 100% 60%;
    --chart-4: 300 100% 60%;
    --chart-5: 200 100% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .react-select__control {
    @apply rounded-md border border-input bg-background px-3 py-1 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus-within:ring-2 focus-within:ring-ring focus-within:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 min-h-[40px];
  }

  .react-select__value-container {
    @apply p-0;
  }
  
  .react-select__menu {
    @apply mt-2 rounded-md border bg-popover text-popover-foreground shadow-md z-50;
  }
  
  .react-select__option {
    @apply cursor-default select-none rounded-sm py-1.5 px-2 text-sm outline-none focus:bg-accent focus:text-accent-foreground;
  }

  .react-select__option--is-focused {
    @apply bg-accent text-accent-foreground;
  }
  
  .react-select__option--is-selected {
    @apply bg-primary text-primary-foreground;
  }

  .react-select__input-container {
      @apply text-sm;
  }
}
